body{
	font-family: "Marker Felt", "forte", fantasy;
	font-size: 150%;
	color: #003366;
	background-image: url("images/background.jpg");
    background-color:LIGHTPINK;
}

h1 {
	font-size: 3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 1px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
